
  
<%- include('partials/header') %>

<div class="jumbotron text-center bg-primary text-white py-5">
  <div class="container">
    <!-- Icon -->
    <i class="fas fa-key fa-6x mb-4"></i>
    
    <!-- Heading -->
    <h1 class="display-3 fw-bold">You have Registered !</h1>
    
    <!-- Secret Text -->
    <p class="secret-text mt-3 fs-4">Please log in .</p>
    
    <!-- Call-to-Action (optional) -->
    <!-- Call-to-Action -->
    <a href="/login" class="btn btn-light btn-lg mt-4">
    Log In
    </a>
  
  </div>
</div>




  <%- include('partials/footer') %>

  