
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.secret-text {
  font-style: italic;
  color: #ffd700; /* Gold color */
}

.jumbotron {
  background: linear-gradient(135deg, green, #0056b3);
  border-radius: 10px;
}

